* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* for all the pages */
.bg-color {
  background-color: #faedcd;
  margin-bottom: 10%;
}
/* Footer */
.footer-bg {
  background-color: #fefae0;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* Titles */
h1 {
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-weight: 800;
}

/* Home Page Nav Bar */
.nav-bar-bg {
  background-color: #bc6c25;
}
.nav-bar {
  background-color: #bc6c25;
  height: auto;
  width: 100%;
  font-family: "Edu AU VIC WA NT Pre", serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.nav-bar a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  font-size: 20px;
}
.nav-bar a::after {
  content: "";
  position: absolute;
  background-color: #faedcd;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 1px;
}
.nav-bar a:hover::after {
  width: 100%;
}
/* Carousel */
#carouselExampleIndicators {
  width: 100%;
}
.carousel-inner {
  height: 750px;
}
.carousel-item img {
  width: 100%;
  height: 750px;
}
/* About section */
.rest-img {
  width: 450px;
  height: auto;
}
.about-us-text {
  width: 85%;
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 16px;
}

/* Gallery Page */
#gallery {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Location Page */
.map {
  margin-top: 10%;
}

/* Contact Us Page*/
.contact-bg {
  position: fixed;
  z-index: -1;
  background-image: url(images/fugusushi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: -20;
}

.content {
  position: relative;
  z-index: 9999;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.contact-form ul li {
  list-style: none;
  margin-bottom: 10px;
}
.contact-form ul li a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

form {
  display: grid;
  grid-template-columns: 6em 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  width: 70%;
  min-width: 20em;
  padding: 1.5em;
}
input[type="submit"] {
  grid-column: 2;
  width: 40%;
  border-radius: 15px;
  background-color: #bc6c25;
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: #eb2632;
}

input:focus,
select:focus,
textarea:focus {
  opacity: 0.8;
}
.contact-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 16px;
}

.contact_button {
  background: #eb2632;
  border: none;
  padding: 3px;
  border-radius: 10px;
}
.contact_button a {
  text-decoration: none;
  color: white;
}
.contact_button:hover{
  opacity: 0.9;
}
/* Menu Page*/
.menu-bg {
  background-image: url(/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.menu-list {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 6%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  font-weight: 300;
  word-spacing: 1px;
}
.menu-list ul li {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 10%;
  font-weight: 400;
}
.card {
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  opacity: 95%;
  background-color: #eadca6;
}

/* Thank You Page */
.thankyou_home {
  text-decoration: none;
  color: white;
  background: #bc6c25;
  border-radius: 15px;
  padding: 5px;
}
.thankyou_home:hover {
  opacity: 0.9;
}

/* Reponsive layout */
@media (max-width: 700px) {
  .nav-bar {
    margin: 20px;
  }
  .carousel-inner {
    height: 400px;
  }
  .carousel-item img {
    width: 100%;
    height: 400px;
  }
  .rest-img {
    width: 100%;
    height: auto;
  }
  .about-us-text {
    width: 100%;
    margin-left: 0%;
  }

  #gallery img {
    height: 450px;
    width: 100px;
  }
  .map h2 {
    margin-top: 5%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-description {
    width: 80%;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 18%;
  }

  .content {
    position: relative;
    z-index: 9999;
    margin-bottom: 100px;
  }
}
